<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

    <title>Авторизация</title>

    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/semantic/dist/semantic.css">
    <script src="/static/semantic/dist/semantic.js"></script>

    <style type="text/css">
        body {
            background-image: url(/static/img/img1.jpg);
            background-attachment: fixed;
        }

        body > .grid {
            height: 100%;
        }

        .column {
            max-width: 450px;
        }
    </style>

    <script src='https://www.google.com/recaptcha/api.js'></script>
</head>
<body>
<div class="ui middle aligned center aligned grid">
    <div class="column">
        <form class="ui large form" action="/enter/auth" method="post">
            <div class="ui stacked segment">
                <div class="field">
                    <div class="ui left icon input">
                        <i class="user icon"></i>
						#springFormInput("mAccount.username" 'placeholder="E-mail"')
                    </div>
                </div>
				#springBind("mAccount.username")
                #if($status.errorMessages.size() > 0)
                    <div class="ui visible error message">
                        <ul class="list">
							#foreach($e in $status.errorMessages)
                                <li>${e}</li>
							#end
                        </ul>
                    </div>
				#end

                <div class="field">
                    <div class="ui left icon input">
                        <i class="lock icon"></i>
						#springFormPasswordInput("mAccount.password" 'placeholder="Пароль"')
                    </div>
                </div>
				#springBind("mAccount.password")
				#if($status.errorMessages.size() > 0)
                    <div class="ui visible error message">
                        <ul class="list">
							#foreach($e in $status.errorMessages)
                                <li>${e}</li>
							#end
                        </ul>
                    </div>
				#end

                <div class="field" align="center">
                    <div class="g-recaptcha" data-sitekey="$recaptchaSiteKey"></div>
                </div>
                #if($!recaptchaError)
                    <div class="ui visible error message">
                        <ul class="list">
                            <li>$!recaptchaError</li>
                        </ul>
                    </div>
				#end

                <button class="ui fluid large teal submit button">Войти</button>
            </div>
            <div class="ui error message"></div>
        </form>
        <div class="ui message">
            Нет аккаунта ? <a href="/enter/reg">Регистрация</a>
        </div>
        <div class="ui message">
            Забыли пароль ? <a href="/enter/recover">Вспомнить</a>
        </div>
    </div>
</div>
</body>
</html>